*{

    font-family: 'Calibri', cursive;
}

body{
    background-color: #FFE294;

}

#root{
    background-color: #FFE294;

}

span {
    font-family: 'Calibri', cursive !important;
}
p {
    font-family: 'Calibri', cursive !important;
}

.button-17 {
    font-family: 'Calibri', cursive !important;
}