*{

    font-family: "Kanit", sans-serif;
}

body{
    background-color: #FFE294;

}

#root{
    background-color: #FFE294;

}

span {
    font-family: "Kanit", sans-serif !important;
}
p {
    font-family: "Kanit", sans-serif !important;
}

.button-17 {
    font-family: "Kanit", sans-serif !important;
}